<h2>ಧೃಡೀಕರಣ ಸೂಚನೆಗಳನ್ನು  ಮತ್ತೆ ಕಳುಹಿಸಿ</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email,'ಇಮೇಲ್' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "ಧೃಡೀಕರಣ ಸೂಚನೆಗಳನ್ನು  ಮತ್ತೆ ಕಳುಹಿಸಿ" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
