<div class="row"> 
  <div class="col-lg-4">
    <div class="control-group">
      <%= label_tag :name, t(:english),:class => 'control-label' %>
      <div class="controls">
        <%= label_tag :name, @publisher.name, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <%= form_for [@publisher,@translate],  :html => { :class => "form-horizontal book" } do |f| %>
  <div class="col-lg-4">
    <div class="control-group">
      <%= f.label :name, t(:kannada),:class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <%= f.submit 'Translate', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    books_path, :class => 'btn btn-default' %>
  </div>
  <% end %>
</div>