<div class="row"> 
  <div class="col-lg-4">
    <div class="control-group">
      <%#= label_tag :book_title, t(:book),:class => 'control-label' %>
      <div class="controls">
        <%= label_tag :name, @author.name, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <%= form_for [@author,@translate],  :html => { :class => "form-horizontal book" } do |f| %>
  <div class="col-lg-4">
    <div class="control-group">
      <%# f.label :book_title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
  <%= f.submit 'Update', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    root_path, :class => 'btn btn-default' %>
  </div>
  <% end %>
</div>