<%= render 'layouts/translate_nav_menu' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:author) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td>
        <%= link_to t(:translate),
        new_author_author_translation_path(author), :class => 'btn btn-default btn-xs' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @authors %>