 <div class="intoduction-text">
   <%= render 'homes/about_samooha' %>
 </div>

 <div class="translation-tree"> 
  <div class="row">
    <div class="col-md-4" id='book-form'> 
      <%= render 'homes/books_form' %>
    </div>
    <div class="col-md-4"> 
      <%= render 'homes/publishers_form' %>
    </div>
    <div class="col-md-4"> 
      <%= render 'homes/authors_form' %>
    </div>
  </div>
</div>
<%= render 'homes/circles' %>
<div class="intoduction-text">
  <hr />
  <%= render 'homes/about_osmania' %>
</div> 

<%= render 'homes/review_progress' %>
