 <div class="intoduction-text">
   <%= render 'homes/about_samooha' %>
   <div class="about-dli">
     <p>
       ಓಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿಯ ನಂತರ ಈಗ 'ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ ಆಫ್ ಇಂಡಿಯಾ' <a href="http://dli.gov.in">(http://dli.gov.in)</a>ದಲ್ಲಿ ಲಭ್ಯವಿರುವ ಕನ್ನಡ ಪುಸ್ತಕಗಳು, ಅವುಗಳ ಲೇಖಕ ಹಾಗೂ ಪ್ರಕಾಶಕರ ಹೆಸರುಗಳನ್ನು <a href="http://samooha.sanchaya.net/dli">ಕನ್ನಡೀಕರಿಸುವ </a> ಕೆಲಸಕ್ಕೆ 'ಸಮೂಹ ಸಂಚಯ'ದೊಂದಿಗೆ ಕೈ ಜೋಡಿಸಿ.
     </p> 
     <hr />
   </div>
 </div>

 <div class="translation-tree"> 
  <div class="row">
    <div class="col-md-4" id='book-form'> 
      <%= render 'homes/books_form' %>
    </div>
    <div class="col-md-4"> 
      <%= render 'homes/publishers_form' %>
    </div>
    <div class="col-md-4"> 
      <%= render 'homes/authors_form' %>
    </div>
  </div>
</div>
<%= render 'homes/circles' %>
<div class="intoduction-text">
  <%#= render 'homes/info_about_translated' %>
</div> 

<%= render 'homes/review_progress' %>
