<h2>ಗುಪ್ತಪದ ಮರೆತಿದ್ದೇನೆ</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email,'ಇಮೇಲ್' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "ನನಗೆ ಗುಪ್ತಪದ ಮರುಬದಲಾವಣೆಯ ಸೂಚನೆಗಳನ್ನು ಕಳುಹಿಸಿ" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
