<%= render 'layouts/translate_nav_menu' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:publisher) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @publishers.each do |publisher| %>
    <tr>
      <td><%= publisher.name %></td>
      <td>
        <%= link_to t(:translate),
        new_publisher_publisher_translation_path(publisher), :class => 'btn btn-default btn-xs' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @publishers %>