<div class="form-group">
  <label class="control-label">Book</label>
  <%= text_field_tag :book_title, @traslated.book_title, :class => 'form-control kan-ime' %>
</div>
<div class="form-group">
  <label class="control-label">Edition</label>
  <%= text_field_tag "others[edition]", "", :class => 'form-control kan-ime' %>
</div>
<div class="form-group">
  <label class="control-label">Print Type (Hard bound/paper back)  </label>
  <%= text_field_tag "others[print_type]", "", :class => 'form-control kan-ime' %>
</div>
<div class="form-group">
  <label class="control-label">Price</label>
  <%= text_field_tag "others[price]", "", :class => 'form-control kan-ime' %>
</div>
<div class="form-group">
  <label class="control-label">Printer</label>
  <%= text_field_tag "others[printer]", "", :class => 'form-control kan-ime' %>
</div>
<div class="form-group">
  <label class="control-label">Cover Page Design</label>
  <%= text_field_tag "others[cover_page_design]", "", :class => 'form-control kan-ime' %>
</div>
<div class="form-group">
  <label class="control-label">Forward by</label>
  <%= text_field_tag "others[forward_by]", "", :class => 'form-control kan-ime' %>
</div>
<div class="form-group">
  <label class="control-label">Last word by</label>
  <%= text_field_tag "others[last_word_by]", "", :class => 'form-control kan-ime' %>
</div>
<div class="form-group">
  <%= submit_tag t(:translate), class: "btn btn-default"%> 
</div>