<%= render 'layouts/translate_nav_menu' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:book_title) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.book_title %></td>
        <td>
          <%= link_to t(:translate),
                      new_book_book_translation_path(book), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @books %>