<div class="circle-div"> 
  <div class="circle-box"> 
    <div class="circle-text">
      <div> 
        <%= @translated_books_count %> <br > <%= t(:books) %> 
      </div>
    </div>
  </div>
  <div class="circle-box"> 
    <div class="circle-text">
      <div> 
      <%= @translated_publishers_count %> <br > <%= t(:publishers) %> 
      </div>
    </div>
  </div>
  <div class="circle-box"> 
    <div class="circle-text">
      <div> 
        <%= @translated_authors_count %> <br > <%= t(:authors) %> 
      </div>
    </div>
  </div>
</div>