<div class="circle-div"> 
  <div class="circle-box"> 
    <div id="book_circle" style="height: 300px;"></div>
  </div>
  <div class="circle-box"> 
    <div id="publisher_circle" style="height: 300px;"></div>
  </div>
  <div class="circle-box"> 
    <div id="author_circle" style="height: 300px;"></div>
  </div>
</div>

<script> 
  $(function () {
    $('#book_circle').highcharts({
      chart: {
        type: 'pie',
        options3d: {
          enabled: true,
          alpha: 45
        }
      },
      title: {
        text: 'ಪುಸ್ತಕ',
        floating: true,
        margin: 2
      },
      credits: {
        enabled: false
      },
      plotOptions: {
        pie: {
          innerSize: 100,
          depth: 100
        }
      },
      series: [{
        name: ' ',
        enabled: false,
        data: [
        ['ಲಿಪ್ಯಂತರಿಸಿದವು', <%= @translated_books_count %> ],
        ['ಲಿಪ್ಯಂತರಿಸಿ', <%= @books.count %>]
        ]
      }]
    });



// Publisher
$('#publisher_circle').highcharts({
  chart: {
    type: 'pie',
    options3d: {
      enabled: true,
      alpha: 45
    }
  },
  title: {
    text: 'ಪ್ರಕಾಶಕ',
    floating: true,
    margin: 2
  },
  credits: {
    enabled: false
  },
  plotOptions: {
    pie: {
      innerSize: 100,
      depth: 100
    }
  },
  series: [{
    name: ' ',
    data: [
    ['ಲಿಪ್ಯಂತರಿಸಿದವು', <%= @translated_publishers_count %> ],
    ['ಲಿಪ್ಯಂತರಿಸಿ', <%= @publishers.count %>]
    ]
  }]
});


// Author
$('#author_circle').highcharts({
  chart: {
    type: 'pie',
    options3d: {
      enabled: true,
      alpha: 45
    }
  },
  title: {
    text: 'ಲೇಖಕ',
    floating: true,
    margin: 2
  },
  credits: {
    enabled: false
  },
  plotOptions: {
    pie: {
      innerSize: 100,
      depth: 100
    }
  },
  series: [{
    name: ' ',
    data: [
    ['ಲಿಪ್ಯಂತರಿಸಿದವು', <%= @translated_authors_count %> ],
    ['ಲಿಪ್ಯಂತರಿಸಿ', <%= @authors.count %>]
    ]
  }]
});




});
</script>