<div class="circle-div"> 
  <div class="circle-box"> 
    <div class="circle-text">
      <div> 
        <%= @translated_books_count %> <br > <%= t(:books) %> 
      </div>
    </div>
  </div>
  <div class="circle-box"> 
    <div class="circle-text">
      <div> 
      <%= @translated_publishers_count %> <br > <%= t(:publishers) %> 
      </div>
    </div>
  </div>
  <div class="circle-box"> 
    <div class="circle-text">
      <div> 
        <%= @translated_authors_count %> <br > <%= t(:authors) %> 
      </div>
    </div>
  </div>
</div>

<div class="translation-tree"> 
  <h1> <%= t(:Translate) %>  </h1>

  <ul> 
    <li> <%= link_to t(:book), books_path %> </li>
    <li> <%= link_to t(:publisher), publishers_path %> </li>
    <li> <%= link_to t(:author), authors_path %> </li>
  </ul>

</div>