<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:english) %></th>
      <th><%= t(:kannada) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @translated_books.each do |trans_book| %>
    <tr>
      <td><%= trans_book.book.book_title %></td>
      <td><%= trans_book.book_title %></td>
      <td>
        <%= link_to t(:edit), edit_book_book_translation_path(trans_book.book, trans_book) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @translated_books %>