<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:author) %></th>
      <th><%= t(:book_title) %></th>
      <th><%= t(:publisher) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @translated_books.each do |book| %>
    <tr>
      <td><%= book.author %></td>
      <td><%= book.book_title %></td>
      <td><%= book.publisher %></td>
      <td>
        <%= link_to t(:show), book %>
        <%= link_to t(:edit), edit_book_book_translation_path(book.book, book) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @translated_books %>