<% if @word %>
<%= form_for [@word,@word_translate],  :html => { :class => "book" } do |f| %>
<div class="form-group">
  <%= label_tag :name ,@word.name, :class => 'form-control'%>
</div>
<div class="form-group">
  <%= f.text_field :name, :class => 'form-control kan-ime' %>
</div>
<div class="form-group">
  <%= f.submit t(:translate), class: "btn btn-default"%> 
</div>
<% end %>
<% else %>
<%= t(:word) %> ಲಿಪ್ಯಂತರಣ  ಪೂರ್ಣಗೊಂಡಿದೆ
<% end %>