<div class="translation-tree"> 
  <% if @word %>

  <div class="row">
    <div class="fuel-logo"> 
    <%= link_to image_tag('fuel_logo.png',height: '35', width: '150'), 'http://fuelproject.org/' , alt: "Fuel", target: '_blank' %>
      <hr />
    </div>
    <div class="col-md-12"> 
      ಈ ಪದದ ಪರ್ಯಾಯ ಕನ್ನಡ ಪದವನ್ನು ಆರಿಸಿ ಅಥವಾ ಹೊಸ ಪದವನ್ನು ಕೆಳಗೆ ಟೈಪಿಸಿ: 
      <h4> <b> <%= @word.name %> </b> </h4>
      <i> ಈ ಪದವನ್ನು ಅನ್ವಯಿಕ ತಂತ್ರಾಂಶಗಳಲ್ಲಿ, ಈ ಸಂದರ್ಭದಲ್ಲಿ ಬಳಸಲಾಗುತ್ತದೆ:
        <h6> <%= @word.context %>  </h6> </i>
      </div>

      <hr />
      <div class="col-md-12"> 

        <div class="vote_translation"> 
          <%= render 'fuel_words/vote_translation' %>
        </div>
      </div>
      <div class="col-md-12"> 
        <%= render 'fuel_words/fuel_form' %>
      </div>

    </div>
    <% end %>
  </div>