<%= render 'homes/intro' %>

<% if current_user %>
<div class="translation-tree"> 
  <div class="row">
    <div class="col-md-12"> 
     <h3> <%= @word.name %>: <%= @word.context %> </h3>
    </div>

    <%= render 'vote_translation' %>

    <div class="col-md-12"> 
      <%= render 'fuel_form' %>
    </div>

  </div>
</div>
<% end %>

<%= render 'homes/review_progress' %>
