<ul class="nav nav-pills nav-justified">
  <li class=<%= check_translate_path('book_translations') %> > <%= link_to t(:book), book_translations_path %> </li>
  <li class=<%= check_translate_path('publisher_translations') %> > <%= link_to t(:publisher), publisher_translations_path %> </li>
  <li class=<%= check_translate_path('author_translations') %> > <%= link_to t(:author), author_translations_path %> </li>
</ul>