<ul class="nav nav-pills nav-justified">
  <li class=<%= check_translate_path('books') %> > <%= link_to t(:book), books_path %> </li>
  <li class=<%= check_translate_path('publishers') %> > <%= link_to t(:publisher), publishers_path %> </li>
  <li class=<%= check_translate_path('authors') %> > <%= link_to t(:author), authors_path %> </li>
</ul>